


<div class="navbar navbar-logo navbar-links">
    <a class="rotate" href="">Wordle</a>
    <a class="rotate" href="stats" >Stats</a>
    <a class="rotate"href="submitresults">Submit</a>
</div>


@code {

}

<style>





</style>
