.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.name {
    text-align: center;
    font-weight: bold;
    justify-content: center;
    display: flex;
    font-family: monospace;
}
