@inherits LayoutComponentBase

@inject NavigationManager NavigationManager
<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div class="page">



    <main>
        <NavMenu />
        <div style="margin-top:4%">
            <article class="content px-4">
                @Body
            </article>
        </div>
    </main>
</div>