@page "/"


<body>
    <div style="justify-content:center; display:flex; align-items:center">
        <img src="img\wordle_logo.png" />
    </div>
@*    <div class="logo">


    </div>*@
</body>

@code{

}+