@page "/stats"

@inject IDbContextFactory<WordleDashboardContext> _ContextFactory

<body>
    <StatCarousel Players="Players"/>
</body>



@code {
    public List<Player>? Players = new();
    public WordleDashboardContext? context;

    protected async override Task OnInitializedAsync()
    {
        Players = new();
        try
        {
            context = _ContextFactory.CreateDbContext();
            Players =  context.Players.ToList() ?? new();
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }




}



<style>
    body {
        height: 100%;
        margin: 0;
        overflow: auto;
        background: #0c0f21;
        background-size: cover;
    }
</style>